---
import type { CollectionEntry } from 'astro:content';
import Badge from '@/components/base/badge.astro';

import { formatDate } from '@/shared/utils/time';

export interface Props {
  project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;

const formattedDate = formatDate(project.data.date);
const truncatedDesc =
  project.data.desc.length > 130 ? project.data.desc.substring(0, 130) + '...' : project.data.desc;
---

<article class='card'>
  <div class='meta-section'>
    <Badge title={project.data.category}>{project.data.category}</Badge>
    <span class='date'>{formattedDate}</span>
  </div>

  <div class='content-section'>
    <a
      title={project.data.title}
      href={`/projects/${project.data.permalink}/`}
      class='title-link'>
      <h3 class='title'>{project.data.title}</h3>
    </a>
    <p class='description'>{truncatedDesc}</p>
  </div>
</article>

<style>
  .card {
    position: relative;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    border-radius: var(--border-radius);
    padding: 1.5rem;
    border: 1px solid hsl(var(--border));
    background-color: hsl(var(--card));
    color: hsl(var(--oposite-color));
  }

  .meta-section {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
  }

  .badge-link {
    text-decoration: none;
    max-width: fit-content;
  }

  .date {
    margin-top: 0.625rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .content-section {
    padding: 0;
    flex: 1;
  }

  .title-link {
    text-decoration: none;
    cursor: pointer;
  }

  .title {
    margin: 0;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1;
    transition: text-decoration 0.2s ease;
    letter-spacing: -0.025em;
  }

  .title-link:hover .title {
    text-decoration: underline;
  }

  .description {
    margin: 0;
    padding-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.625;
    color: hsl(var(--muted-foreground));
  }

  @media (min-width: 768px) {
    .card {
      flex-wrap: nowrap;
    }

    .meta-section {
      margin-bottom: 0;
      width: 14rem;
    }

    .date {
      display: block;
    }
  }

  @media (max-width: 767px) {
    .meta-section {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 0.5rem;
    }

    .date {
      display: block;
    }
  }
</style>
