---
import { Check } from '@lucide/astro';
type Props = {
  title?: string;
  descriptionItems?: string[];
  descriptionList?: string[];
  headingTwo?: string;
  class?: string;
  noBorder?: boolean;
};

const { title, descriptionItems, headingTwo, class: className = '', noBorder = false, descriptionList } = Astro.props;

const headerClasses = `heading-block ${noBorder ? 'no-border-style' : ''} ${className}`;
---

<header class={headerClasses}>
  {title && (<h1>{title}</h1>)}
  {descriptionItems?.map(item => <p>{item}</p>) }
  {descriptionList &&  (
    <ul>
      {descriptionList.map(item => <li><Check size="16" color="hsl(var(--primary))" class="icon" />{item}</li>)}
    </ul>
  )} 
  {headingTwo && <h2>{headingTwo}</h2>}
</header>

<style>
  .heading-block {
    margin-top: 2.5rem;
    width: 100%;
    border: 1px solid hsl(var(--border));
    background-color: hsl(var(--card));
    color: hsl(var(--card-foreground, #111827));
    padding: 0.5rem 1.5rem;
    border-radius: var(--radius);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }

  /* Added: Styles for the variation without a border */
  .no-border-style {
    border: none;
    background-color: transparent;
    box-shadow: none;

  }

  .heading-block h1 {
    font-family: 'PT Serif', serif;
    font-size: 1.5rem;
    line-height: 2.25rem /* 36px */;
    margin: 0;
  }

  @media (min-width: 768px) {
    .heading-block h1 {
      font-size: 1.875rem;
    }
  }

  .heading-block p {
    margin-top: 1.25rem;
    width: 83.333333%;
  }

  .heading-block h2 {
    margin-top: 1.25rem;
    font-size: 1.25rem;
    margin: 0;
  }
  .heading-block ul {
  margin-top: 1.25rem;
  list-style: none;
  padding-left: 0;
}

.heading-block li {
  margin: 0.5rem 0rem;
  line-height: 1.6;
  display: flex;
  align-items: center;
}
.heading-block .icon {
  margin-right: 0.5rem;
}

  @media (min-width: 768px) {
    .heading-block h2 {
      font-size: 1.5rem;
    }
  }
</style>
