---
/**
  Home page
    This file manages the main list of posts for the website, handling the home page and any subsequent archive pages using Astro's dynamic routing and pagination features.
    In Astro, files in the src/pages/ directory use file-based routing. The square brackets [...] denote a "rest parameter" in a dynamic route. 

 */
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import Button from '@/components/base/button.astro';
import HeadingBlock from '@/components/layout/heading-block.astro';
import Pagination from '@/components/layout/pagination.astro';
import WhatIDoSection from '@/components/sections/what-i-do-section.astro';
import FeaturedPosts from '@/components/post/featured-posts.astro';
import Posts from '@/components/post/posts.astro';

import { siteConfig } from '@/app/config/site';
import BaseLayout from '@/app/layouts/base-layout.astro';

const allPosts = await getCollection('posts', ({ data }) => !data.isDraft);
const sortedPosts = allPosts.sort((a, b) => {
  return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});
const numberOfPages = Math.ceil(sortedPosts.length / siteConfig.postsPerPage);
const mySkills = siteConfig.skills;

/**
  Dynamic Routing with getStaticPaths

  getStaticPaths: This function tells Astro which specific routes to build at build time.
  paginate: This function automatically generates multiple pages for you. It creates:
    src/pages/index.astro (which becomes the home page /)
    src/pages/page/2.astro (which becomes /page/2)
    src/pages/page/3.astro (which becomes /page/3)
    ...and so on.
  The [...] in the filename allows it to match all of these dynamically generated paths.
 */
export const getStaticPaths = (async ({ paginate }) => {
  // data
  const allPosts = await getCollection('posts', ({ data }) => !data.isDraft);
  return paginate(
    allPosts.sort((a, b) => {
      return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
    }),
    {
      pageSize: siteConfig.postsPerPage,
    }
  );
}) satisfies GetStaticPaths;

/**
  Data Processing
  Astro.props.page: This object is automatically provided by the paginate function. It contains the data (posts) specific to the current page being built (e.g., the first 10 posts for the home page, the next 10 for page 2).
  It slices the data to separate the first three posts into a "featured" section for the home page.
 */

const { page } = Astro.props;

// Use last 3 posts as featured
const featuredPosts = page.data.slice(0, 3);
const recentPosts = page.data.slice(3, page.data.length);

const title =
  page.currentPage === 1 ? siteConfig.title : siteConfig.title + ' ' + 'Page ' + page.currentPage;

/**
  HTML Template
    This section uses the processed data and components to render the page:
    Conditional Header: It displays a large "Heading Block" only if it's the very first page (page.currentPage === 1). Otherwise, it displays a simple "Page 2", "Page 3" heading.
    Featured Posts: It displays the FeaturedPosts component only on the home page.
    Post List: It lists the remaining recentPosts.
    Pagination Navigation: It renders the Pagination component (Next/Previous buttons) if there are multiple pages.
 */
---


<BaseLayout title={title}>
  <main class='main'>
    {
      page.currentPage === 1 ?
        <HeadingBlock
          title={siteConfig.mainHeadTitle}
          headingTwo={siteConfig.mainHeadHeadingTwo}
          description={siteConfig.mainHeadDescription}
        />
      : <h1 class='page-heading'>
          {siteConfig.shortTitle} Page {page.currentPage}
        </h1>
    }
    {
      page.currentPage === 1 ?
        <HeadingBlock
          title={siteConfig.skillsTitle}
          {/*headingTwo={siteConfig.mainHeadHeadingTwo}*/}
          description={siteConfig.skillsHeader}
        />
      : <h1 class='page-heading'>
          {siteConfig.shortTitle} Page {page.currentPage}
        </h1>
    }
    {page.currentPage === 1 && <WhatIDoSection skills={mySkills}/>}
    {page.currentPage === 1 && <FeaturedPosts posts={featuredPosts} />}
    {recentPosts && <Posts posts={page.currentPage === 1 ? recentPosts : page.data} />}
    {
      numberOfPages > 1 && (
        <Pagination
          currentPage={page.currentPage}
          numPages={numberOfPages}
          slug='/'
        />
      )
    }
  </main>
</BaseLayout>
